.shop_books{
    display: flex;
    flex-wrap: wrap;
    column-gap: 181px;
    row-gap: 69px;
    padding-left: 150px;
    padding-bottom: 87px;
    @include for-tablet{
        justify-content: center;
        padding-left: 0px;
    }
    &_box{
       background-color: #FFFFFF;
       width: 384px;
       height: 398px;
       display: flex;
       position: relative;
       @include for-phone{
        width: 250px;
       }
       img{
         width: 147px;
         height: 225px;
         position: absolute;
         left: -70px;
         top: 50px;
         @include for-phone{
            width: 100px;
         }
       }
    }
    h3{
        padding-left: 100px;
        padding-top: 45px;
        @include for-phone{
            font-size: 18px;
            line-height: 20px;
            padding-left: 40px;
        }

    }
    p{
        padding-left: 100px;
        @include for-phone{
            font-size: 15px;
            padding-left: 40px;
        }
    }
}
.btn{
    margin-left: 100px;
    padding: 8px 59px;
    background-color: #FF971D1A;
    color:#FF971D ;
    border-radius: 10px;
    border: 1px solid #FF971D;
    @include for-phone{
        margin-left: 40px;
    }
}