footer{
    background-color: #FF971D;
    padding:  31px 0;
    .span{
        @include for-phone{
            display: none;
        }
    }
    p{
        color: #FFFFFF;
        span{
            font-weight: 500;
        }
    }
}